certifi==2017.4.17
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11.3
django-cors-headers==2.1.0
django-webpack-loader==0.5.0
docopt==0.6.2
facebook-sdk==2.0.0
gunicorn==19.7.1
idna==2.5
optional-django==0.1.0
pipreqs==0.4.9
psycopg2==2.7.1
pygeocoder==1.2.5
pytz==2017.2
requests==2.18.1
urllib3==1.21.1
