body {
  margin: 0;
  padding: 0;
  font-family: arial;
}

html, body {
  height: 700px;
  width: 1000px;
  margin: 0;
}

#nav {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    margin-right: 1px;
    margin-left: 1px;

}

#logo {
    font-size: 25px;
    color: #D3D3D3;
}

#midNav {
    background-color: #efefef;
    border-radius: 5px;
    margin: 0px;
}

#innerNav {
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;


}

.navItem {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}


#jumbotron {
    background-color: #efefef;
    height: 375px;
    padding-top: 25px;
}

#map {
    height: 320px;
    margin: 0px;
}

.fbSize {
    font-size: 20px;
}

.fbSizeSM {
    font-size: 15px;
}

.sendButton {
    background-color: #3b5998;
    font-family: San Francisco, Segoe UI, Tahoma;
    color: white;
    padding: 7px;
    font-size: 14px;
    border-radius: 7px;
    border: 1px solid;
    border-color: #35518d;
}

.loginBtn {
    background-color: #3b5998;
    font-family: San Francisco, Segoe UI, Tahoma;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 7px;
    border: 1px solid;
    border-color: #35518d;
}

.loginBtn:hover {
    background-color: #3A66A7;
}

.sendButton:hover {
    background-color: #3A66A7;
}

.activeFriend {
    background-color: #eef7fa;
}

#chatList {
    float:right;
    position: relative;
    height: 350px;
    overflow-y:auto;
    max-width: 300px;
}

#chatListArea {
    overflow: auto;
    max-width: 300px;
    height: 350px;
}

#messenger {
    position: relative;
    bottom: 0px;
    float:left;
    max-width: 300px;
}

#messageList {
    float: left;
    height: 240px;
    overflow-y: scroll;
    position: relative;
    width: 300px;
    background: white;
}

.chatPreview:hover {
    background-color: #eef7fa;
}

#messageArea {
    padding: 3px;
    height: 350px;
    overflow-x: hidden;
    max-width: 300px;
}

#messengerContainer {
    height: 360px;
}

.message {
    padding-top: 5px;
    padding-bottom: 5px;
}

.him {
  background: #eee;
  float: left;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  padding-right: 4px;
  padding-left: 2px;
  margin-right: 20px;
  margin-bottom: 5px;
  clear: both;
}

.me {
  float: right;
  background: #0084ff;
  color: #fff;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding-left: 4px;
  padding-right: 2px;
  margin-left: 20px;
  margin-bottom: 5px;
  clear: both;
}

#bottomOfChatRef {
    clear: both;
}


#profileArea {
    background: white;
}

#profileName {
    padding-top: 10px;
    font-size: 25px;
    font-family: arial;
}

.editProfileIcon {
    padding-top: 7px;
    padding-left: 0px;
}

.profileLabel {
    padding-top: 7px;
}

#announcementOnProfile {
    color: black;
    text-align: center;
    padding-top: 10px;
    border: 2px solid;
    border-radius: 3px;
    padding-bottom: 15px;
    padding-left: 4px;
    padding-right: 4px;
}

.friendListItem {
    padding-top: 3px;
    text-align: center;
}

.friendPicIcon {
    padding-top: 7px;
    text-align: center;
}

.friendBtnMsg {
    padding-top: 5px;
}

#mainLogo {
    color: #efefef;
    position: absolute;
    top: 250px;
    left: 140px;
    float: left;
    font-size: 40px;
    font-family: arial;

}

.rotate {
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

.footer {
    text-align: center;
}


